*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes glow {
    0%, 100% {
      filter: brightness(100%);
    }
    50% {
      filter: brightness(150%);
    }
  }
  
  .react-icon {
    animation: spin 5s linear infinite;
  }
  
  .tailwind-icon {
    animation: glow 3s ease-in-out infinite;
  }